/*
 * Footer
 */

.footer {
  background-color: #ffffff;
  color: var(--default-foreground);

  &__inner {
    @extend %__inner;
    position: relative;
    padding-top: space(5);
    padding-bottom: space(5);
  }

  &__heading {
    flex: 0 0 100%;

    img {
      width: 9rem;
    }
  }

  &__info {
    flex: 0 0 24rem;

    h4 {
      font-size: 1.33rem;
    }
  }

  &__links {
    list-style: none;
    flex: 0 0 100%;
    padding: 0;
  }

  &__link {
    display: inline-block;
    margin: 0.75rem 1.5rem 0.75rem 0;
  }

  &__backToTop {
    position: absolute;
    top: -3rem;
    right: 24px;

    img {
      width: auto;
      height: 3rem;
    }
  }

  &__copyinner {
    @extend %__inner;
  }

  &__copyright {
    padding: space();
    background-color: $themeColor;
    color: #ffffff;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  a {
    color: var(--default-foreground);

    &:hover {
      color: $themeColor;
    }
  }
}
