/*
 * Hero
 */

.hero {
  position: relative;
  width: 100%;
  aspect-ratio: 1.6;
  background: url("./assets/main.jpg") no-repeat 50% 50% / cover scroll;

  @media (min-width: breakpoint("md")) {
    height: 100vh;
  }
}
