/*
 * Interview
 */

.interview {
  position: relative;
  padding: 0 0 space(6);

  &__heading {
    @extend %__container;
    margin-bottom: space(4);
    padding: 0 space(3);

    @media (min-width: breakpoint()) {
      padding: 0 #{space(4) + space(3) + space()};
    }
  }

}
