/**
 * Normarize
 */

*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
  font-size: fontSize("sm");

  &.--large {
    font-size: fontSizeLg("sm");
  }

  @media (min-width: breakpoint()) {
    font-size: fontSize();

    &.--large {
      font-size: fontSizeLg();
    }
  }
}
 
body {
  margin: 0; // Remove the margin in all browsers
  background-color: var(--background-color-1);
  color: var(--foreground-color);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS
  transition: font-size linear 0.15s;
}

a {
  color: var(--foreground-color);
  text-decoration: none;
  transition: all linear 0.15s;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  transition: all linear 0.15s;
}

figure {
  display: block;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

button, input, select, textarea {
  font: inherit;  // Change the font styles in all browsers
}
