/*
 * Others
 */

.others {
  padding: space(5) 0;

  &__inner {
    @extend %__container;
  }

  &__heading {
    margin: space(4) 0 space(3);
    padding: 0 space(4);
    font-size: 1.5rem;
  }

  &__projects, &__banners, &__contacts {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: space(3);
    padding: 0 space();

    @media (min-width: breakpoint("md")) {
      padding: 0 space(4);
    }
  }

  &__projects {
    gap: space(4);
  }

  &__project {
    flex: 1 1 100%;

    @media (min-width: breakpoint("md")) {
      flex: 0 1 calc(50% - #{space(3)});
    }

    @media (min-width: breakpoint("lg")) {
      body:not(.--large) & {
        flex: 0 1 31.5rem;
      }
    }
  }

  &__banner {
    flex: 1 1 100%;

    @media (min-width: breakpoint("md")) {
      flex: 0 1 calc(50% - #{space()});
    }

    @media (min-width: breakpoint("lg")) {
      body:not(.--large) & {
        flex: 0 1 21rem;
      }
    }
  }

  &__contact {
    flex: 1 1 100%;

    @media (min-width: breakpoint("md")) {
      flex: 0 1 calc(50% - #{space()});
    }

    @media (min-width: breakpoint("lg")) {
      body:not(.--large) & {
        flex: 0 1 31.5rem;
      }
    }

    a {
      display: block;
      padding: space(3);
      border-radius: space();
      background-color: #ffffff;
      color: $bodyColor;
      font-weight: 700;

      &:hover {
        background-color: $themeColor;
        color: #ffffff;
      }
    }
  }

}
