/**
 * Component - Slider
 */

 $sliderAspectRatio: 3 / 4;
 $primary:           var(--foreground-color);
 $primaryLight:      #999999;

.slider {
  //position: relative;
  width: 100%;
  height: calc(21rem * #{$sliderAspectRatio} + 7.5rem);
  overflow: hidden;
  
  // gapはJSで指定
  &__inner {
    display: flex;
    align-items: flex-start;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateX(0);
  }

  &__item {
    position: relative;
    flex: 0 1 auto; 
    order: 0;
    margin: 0;
    opacity: 1;
    transition: opacity 0.15s linear;
    
    &:not(.--current) {
      opacity: .85;
    }

    img {
      width: 21rem;
      aspect-ratio: 1 / $sliderAspectRatio;
      object-fit: cover;
      margin: 0;
      border-radius: space(2);
    }
  }

  &__caption {
    width: 21rem;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.44;
  }

  &__captionSpan1 {
    color: #b3a98a;
    font-size: 0.8rem;
  }

  &__captionSpan2 {
    font-size: 0.8rem;
  }
  
  &__nav {
    list-style: none;
    position: absolute;
    top: 6rem;
    right: 12.5%;
    display: none;
    justify-content: center;
    height: 1rem;
    margin: space(2) auto;
    padding: 0;

    @media (min-width: breakpoint("md")) {
      display: flex;
    }
  }

  &__navItem {
    width: .5rem;
    height: .5rem;
    margin: space();
    border-radius: 50%;
    background-color: $primary;
    cursor: pointer;

    &:not(.--current) {
      background-color: $primaryLight;
    }
  }
}
