/*
 * Tooltip
 */

.tooltip {
  position: absolute;
  top: calc(100% + #{space()});
  right: space(4);
  z-index: 900;
  display: none;
  opacity: 1;
  transition: opacity 0.35s linear;

  &:not(.--active) {
    opacity: 0;
  }

  &:not(.--collapse) {
    display: block;
  }

  &__inner {
    padding: space();
    border: 1px solid var(--foreground-color);
    border-radius: space(3);
    background-color: var(--background-color-1);
  }

  &__arrow {
    position: absolute;
    top: -0.7rem;
    right: 4.5rem;
    width: calc(0.8rem * 2 / tan(60deg));
    height: 0.8rem;
    border-top: 0.8rem solid var(--foreground-color);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background-color: var(--background-color-1);
  }
}
