/**
 * Variables
 */
:root {
  --default-background-1: #faf9f2;
  --default-background-2: #fef3e6;
  --default-foreground: #242424;
  --invert-background-1: #292a31;
  --invert-background-2: #25303d;
  --invert-foreground: #ffffff;
  --background-color-1: var(--default-background-1);
  --background-color-2: var(--default-background-2);
  --foreground-color: var(--default-foreground);
}

/**
 * Normarize
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: min(3.84vw, 16px);
}
html.--large {
  font-size: min(4.32vw, 20px);
}
@media (min-width: 900px) {
  html {
    font-size: clamp(12px, 1.33vw, 16px);
  }
  html.--large {
    font-size: clamp(15px, 1.67vw, 20px);
  }
}

body {
  margin: 0;
  background-color: var(--background-color-1);
  color: var(--foreground-color);
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--foreground-color);
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  display: block;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

button, input, select, textarea {
  font: inherit;
}

/*
 * Section
 */
.support-work, .support-childcare, .support-live {
  position: relative;
  padding: 0 0 6rem;
}

.support-work__image, .support-childcare__image, .support-live__image {
  display: block;
  width: 100%;
}
.support-work__image img, .support-childcare__image img, .support-live__image img {
  aspect-ratio: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 900px) {
  .support-work__image, .support-childcare__image, .support-live__image {
    position: absolute;
    top: -4%;
    width: min(45%, 48rem);
  }
  .support-work__image img, .support-childcare__image img, .support-live__image img {
    aspect-ratio: 1.33;
  }
}

.others__inner, .interview__heading, .footer__copyinner, .footer__inner, .support-work__inner, .support-childcare__inner, .support-live__inner {
  width: min(100%, 1200px);
  margin: auto;
  padding: 0 clamp(0.75rem, 2%, 1.5rem);
}

.footer__copyinner, .footer__inner, .support-work__inner, .support-childcare__inner, .support-live__inner {
  display: flex;
  flex-flow: row wrap;
}

.support-work__content, .support-childcare__content, .support-live__content {
  flex: 0 0 100%;
  padding: 3rem 0.75rem 0;
}
@media (min-width: 900px) {
  .support-work__content, .support-childcare__content, .support-live__content {
    flex: 0 0 50%;
    padding: 3rem 3rem 0;
  }
}

.support-work__heading, .support-childcare__heading, .support-live__heading {
  font-weight: 700;
  font-size: 1.5rem;
}

.support-work__subheading, .support-childcare__subheading, .support-live__subheading {
  color: #ed7475;
  font-weight: 400;
  font-size: 1rem;
}

.support-work__lead, .support-childcare__lead, .support-live__lead {
  font-weight: 300;
  font-size: 2rem;
}

.support-work__intro, .support-childcare__intro, .support-live__intro {
  text-align: justify;
}
.support-work__intro p, .support-childcare__intro p, .support-live__intro p {
  margin: 0;
}

.support-work__support, .support-childcare__support, .support-live__support {
  flex: 0 0 100%;
  padding: 0 0.75rem;
}
@media (min-width: 900px) {
  .support-work__support, .support-childcare__support, .support-live__support {
    padding: 0 3rem;
  }
}

.support-work__list, .support-childcare__list, .support-live__list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 0;
}

.support-work__listItem, .support-childcare__listItem, .support-live__listItem {
  flex: 1 1 100%;
}
@media (min-width: 900px) {
  html:not(.--large) .support-work__listItem, html:not(.--large) .support-childcare__listItem, html:not(.--large) .support-live__listItem {
    flex: 0 1 calc(50% - 0.75rem);
  }
}
@media (min-width: 1200px) {
  .support-work__listItem, .support-childcare__listItem, .support-live__listItem {
    flex: 0 1 calc(50% - 0.75rem);
  }
  html:not(.--large) .support-work__listItem, html:not(.--large) .support-childcare__listItem, html:not(.--large) .support-live__listItem {
    flex: 0 1 calc(33.33% - 1.5rem);
  }
}
.support-work__listItem a, .support-childcare__listItem a, .support-live__listItem a {
  display: block;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: #ffffff;
  color: #242424;
  font-weight: 700;
}
.support-work__listItem a::after, .support-childcare__listItem a::after, .support-live__listItem a::after {
  content: "";
  float: right;
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0.375rem 0;
  background: url("./assets/icon_more.svg") no-repeat 50% 50%/contain scroll;
}
.support-work__listItem a:hover, .support-childcare__listItem a:hover, .support-live__listItem a:hover {
  background-color: #ed7475;
  color: #ffffff;
}
.support-work__listItem a:hover::after, .support-childcare__listItem a:hover::after, .support-live__listItem a:hover::after {
  background: url("./assets/icon_more_hover.svg") no-repeat 50% 50%/contain scroll;
}

/*
 * Hero
 */
.hero {
  position: relative;
  width: 100%;
  height: 62.5vw;
  background: url("./assets/main.jpg") no-repeat 50% 50%/cover scroll;
}
@media (min-width: 900px) {
  .hero {
    height: auto;
    min-height: 100vh;
    padding: 2.25rem;
  }
}
.hero__nav {
  position: relative;
  display: none;
  width: 15rem;
  padding: 2.25rem 0;
  border-radius: 1.5rem;
  background-color: #ffffff;
}
@media (min-width: 900px) {
  .hero__nav {
    display: block;
  }
}
.hero__sitebrand {
  width: 9rem;
  margin: 0 auto 1.5rem;
}
.hero__navheading {
  padding: 0 2.25rem;
  color: #ed7475;
  font-size: 0.75rem;
}

/*
 * Nav
 */
.nav {
  list-style: none;
  padding: 0;
}
.nav__subMenu {
  list-style: none;
  padding: 0;
}
.nav__mainMenuItem a, .nav__subMenuItem a {
  display: block;
}
.nav__mainMenuItem a::after, .nav__subMenuItem a::after {
  content: "";
  float: right;
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0.1875rem 0;
  background: url("./assets/icon_more.svg") no-repeat 50% 50%/contain scroll;
}
.nav__mainMenuItem {
  margin-bottom: 0.75rem;
  padding: 0 2.25rem;
}
.nav__mainMenuItem a {
  color: var(--default-foreground);
  font-weight: 700;
  font-size: 0.875rem;
}
.nav__mainMenuItem a::after {
  background: url("./assets/icon_more.svg") no-repeat 50% 50%/contain scroll;
}
.nav__mainMenuItem a:hover, .nav__mainMenuItem a.--active {
  color: #ed7475;
}
.nav__mainMenuItem a:hover::after, .nav__mainMenuItem a.--active::after {
  background: url("./assets/icon_more_hover2.svg") no-repeat 50% 50%/contain scroll;
}
.nav__subMenuItem {
  margin-bottom: 0.375rem;
}
.nav__subMenuItem a {
  color: #ffffff;
  font-weight: 400;
  font-size: 0.75rem;
}
.nav__subMenuItem a::after {
  background: url("./assets/icon_more_hover.svg") no-repeat 50% 50%/contain scroll;
}
.nav__subMenuItem a:hover {
  color: #e2e1cc;
}
.nav__subMenuItem a:hover::after {
  background: url("./assets/icon_more.svg") no-repeat 50% 50%/contain scroll;
}
.nav__subMenuWrap {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 1000;
  display: block;
  width: 0;
  height: calc(100% - 6rem);
  margin: auto;
  border-radius: 0 1.5rem 1.5rem 0;
  background-color: #ed7475;
  overflow: hidden;
  transition: all ease-in-out 0.35s;
}
.nav__subMenuWrap:not(.--collapse) {
  width: 16.5rem;
}
.nav__subMenuInner {
  padding: 0.75rem 2.25rem 2.25rem;
  opacity: 0;
  transition: opacity ease-in-out 0.15s;
}
.nav__subMenuInner:not(.--collapse) {
  opacity: 1;
  transition: opacity ease-in-out 0.15s 0.2s;
}
.nav__subHeading {
  margin: 1.5rem 0 0.75rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.875rem;
}
.nav__button {
  display: block;
  width: 10.5rem;
  margin: 1.5rem auto 0;
  padding: 0.75rem;
  border-radius: 1.5rem;
  background: linear-gradient(90deg, #f3a8a1, #ed7475);
  color: #ffffff;
  font-weight: 700;
  font-size: 0.75rem;
  text-align: center;
  line-height: 1;
}
.nav__button:hover {
  opacity: 0.85;
}

/*
 * Control panel
 */
.controlpanel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 900;
  display: none;
  padding: 0 1.5rem;
  border-radius: 0 0 0 0.75rem;
  background-color: var(--background-color-1);
}
@media (min-width: 900px) {
  .controlpanel {
    display: block;
  }
}
.controlpanel__controllers {
  list-style: none;
  margin: 0;
  padding: 0;
}
.controlpanel__controller {
  display: inline-block;
  margin: 0.75rem;
  font-weight: 700;
  font-size: 0.75rem;
}
.controlpanel__span::before {
  content: "";
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 6px;
  vertical-align: sub;
}
.controlpanel__span.--speaker::before {
  background: url("./assets/icon_speaker.svg") no-repeat 50% 50%/contain scroll;
}
.controlpanel__span.--fontsize::before {
  background: url("./assets/icon_fontsize.svg") no-repeat 50% 50%/contain scroll;
}
.controlpanel__span.--color::before {
  background: url("./assets/icon_color.svg") no-repeat 50% 50%/contain scroll;
}
.controlpanel__button {
  display: inline-block;
  padding: 0 6px;
  border: 1px solid var(--foreground-color);
  border-radius: 3px;
}
.controlpanel__button.--fontsize_reguler, .controlpanel__button.--color_dark {
  background-color: var(--foreground-color);
  color: var(--background-color-1);
}
.controlpanel__button.--color_vivid {
  border-color: blue;
  background-color: blue;
  color: yellow;
}

/*
 * News
 */
/*
 * Interview
 */
.interview {
  position: relative;
  padding: 6rem 0 12rem;
}
.interview__heading {
  margin-bottom: 3rem;
}

/**
 * Component - Slider
 */
.slider {
  width: 100%;
  height: calc(21rem * 0.75 + 7.5rem);
  overflow: hidden;
}
.slider__inner {
  display: flex;
  align-items: flex-start;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0);
}
.slider__item {
  position: relative;
  flex: 0 1 auto;
  order: 0;
  margin: 0;
  opacity: 1;
  transition: opacity 0.15s linear;
}
.slider__item:not(.--current) {
  opacity: 0.85;
}
.slider__item img {
  width: 21rem;
  aspect-ratio: 1.3333333333;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  border-radius: 1.125rem;
}
.slider__caption {
  width: 21rem;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.44;
}
.slider__captionSpan1 {
  color: #b3a98a;
  font-size: 0.8rem;
}
.slider__captionSpan2 {
  font-size: 0.8rem;
}
.slider__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  height: 1rem;
  margin: 1.125rem auto;
  padding: 0;
}
@media (min-width: 900px) {
  .slider__nav {
    position: absolute;
    top: 6rem;
    right: 12.5%;
  }
}
.slider__navItem {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.75rem;
  border-radius: 50%;
  background-color: var(--foreground-color);
  cursor: pointer;
}
.slider__navItem:not(.--current) {
  background-color: #999999;
}

/*
 * Support live
 */
.support-live {
  background-color: var(--background-color-2);
}
.support-live__image {
  left: 55%;
}
/*
 * Support child care
 */
.support-childcare__image {
  right: 55%;
}
.support-childcare__inner {
  justify-content: flex-end;
}
/*
 * Support work
 */
.support-work {
  background-color: var(--background-color-2);
}
.support-work__image {
  left: 55%;
}
/*
 * Others
 */
.others {
  padding: 6rem 0;
}
.others__heading {
  margin: 3rem 0 1.5rem;
  padding: 0 3rem;
  font-size: 1.5rem;
}
.others__projects, .others__banners, .others__contacts {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  padding: 0 0.75rem;
}
@media (min-width: 900px) {
  .others__projects, .others__banners, .others__contacts {
    padding: 0 3rem;
  }
}
.others__projects {
  gap: 3rem;
}
.others__project {
  flex: 1 1 100%;
}
@media (min-width: 900px) {
  html:not(.--large) .others__project {
    flex: 0 1 calc(50% - 1.5rem);
  }
}
@media (min-width: 1200px) {
  .others__project {
    flex: 0 1 calc(50% - 1.5rem);
  }
}
.others__banner {
  flex: 0 1 calc(50% - 0.75rem);
}
@media (min-width: 900px) {
  .others__banner {
    flex: 0 1 calc(50% - 0.75rem);
  }
  html:not(.--large) .others__banner {
    flex: 0 1 calc(33.33% - 1.5rem);
  }
}
.others__contact {
  flex: 1 1 100%;
}
@media (min-width: 900px) {
  html:not(.--large) .others__contact {
    flex: 0 1 calc(50% - 1.5rem);
  }
}
@media (min-width: 1200px) {
  .others__contact {
    flex: 0 1 calc(50% - 1.5rem);
  }
}
.others__contact a {
  display: block;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: #ffffff;
  color: #242424;
  font-weight: 700;
}
.others__contact a::after {
  content: "";
  float: right;
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0.375rem 0;
  background: url("./assets/icon_more.svg") no-repeat 50% 50%/contain scroll;
}
.others__contact a:hover {
  background-color: #ed7475;
  color: #ffffff;
}
.others__contact a:hover::after {
  background: url("./assets/icon_more_hover.svg") no-repeat 50% 50%/contain scroll;
}

/*
 * Footer
 */
.footer {
  background-color: #ffffff;
  color: var(--default-foreground);
}
.footer__inner {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.footer__heading {
  flex: 0 0 100%;
  padding: 0 0.75rem;
}
.footer__heading img {
  width: 9rem;
}
.footer__info {
  flex: 0 0 24rem;
  padding: 0 0.75rem;
}
.--large .footer__info {
  flex: 0 0 100%;
}
.footer__info h4 {
  font-size: 1.33rem;
}
.footer__links {
  list-style: none;
  flex: 0 0 100%;
  padding: 0 0.75rem;
}
.footer__link {
  display: inline-block;
  margin: 0.75rem 1.5rem 0.75rem 0;
}
.footer__backToTop {
  position: absolute;
  top: -3rem;
  right: 24px;
}
.footer__backToTop img {
  width: auto;
  height: 3rem;
}
.footer__copyright {
  padding: 0.75rem;
  background-color: #ed7475;
  color: #ffffff;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.footer a {
  color: var(--default-foreground);
}
.footer a:hover {
  color: #ed7475;
}